// Variables
$break-sm-min: "(min-width: 768px)";
$break-sm-max: "(max-width: 768px)";
$break-md-min: "(min-width: 994px)";

$theme-bg: #f3f3f3;
$theme-dark: #1f2831;
$theme-line: #e7e7e7;
$theme-primary: #e74c3c;
$theme-success: #6acc5a;
