/* ------------------------
   # Pagination
--------------------------- */

.pagination {
   margin: 0;
   > li {
      > a,
      > span {
         color: $theme-dark;
         border-color: $theme-line;
         border-radius: 0;
         line-height: inherit;
         padding: 10px 24px;
         @include transition-all;
         &:focus,
         &:hover {
            background-color: $theme-primary;            
            border-color: darken($theme-primary, 5%);
            color: white;
         }
      }
      &:first-child,
      &:last-child {
         > a {
             border-radius: 0;
         }
      }
      &.active {
         > a,
         > span {
            &,
            &:focus,
            &:hover {
               background-color: $theme-primary;               
               border-color: darken($theme-primary, 5%);
               color: white;
            }
         }
      }
   }
}