// Category Section
.category-box {
   background-image: url("../img/slide3.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   border: 1px solid $theme-line;
   margin-top: 17px;
   position: relative;
   @include transition-all;
   &:focus,
   &:hover {
      border-color: $theme-primary;
   }
   > a,
   > a:focus,
   > a:hover {
      color: inherit;
      text-decoration: none;
   }
   .category-box-title {
      background-color: rgba($theme-dark, .7);
      padding: 136px 18px 18px;
      h4 {
         color: white;
         margin-bottom: 0;
      }
   }
   .category-box-caption {
      background-color: white;
      padding: 18px;
   }
   > .badge {
      position: absolute;
      right: 0;
      top: 0;
   }
}

.more-categories {
   display: block;
   margin-top: 17px;
   padding: 105px 0;
   @include transition-all;
   &:hover {
      background-color: $theme-line;
   }
   h4 {
      margin-bottom: 0;
   }
}

// Clients Section
#owl-client {
   .item {
      .author {
         strong {
            display: inline-block;
            margin-bottom: 8px;
         }
      }
   }
   .owl-controls {
      margin-top: 0;
      .owl-buttons {
         div {
            background-color: transparent;
            border-radius: 0;
            color: white;
            font-size: 82px;
            height: 140px;
            padding: 0 18px;
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
         }
         .owl-prev {
            left: -2%;
         }
         .owl-next {
            right: -2%;
         }
         @include breakpoint(medium) {
            .owl-prev {
               left: -20%;
            }
            .owl-next {
               right: -20%;
            }
         }
      }
   }
}

// Jobs Section
#jobs-form {
   margin-top: 17px;
}

.job-preview {
   border-bottom: 1px solid $theme-line;
   padding: 24px;
   position: relative;
   @include transition-all;
   &:hover {
      background-color: white;
   }
   &:first-child {
      border-top: 1px solid $theme-line;
      margin-top: 17px;
   }
   strong {
      &::after {
         content: " - ";
      }
   }
   .job-title {
      a {
         color: $theme-dark;
      }
   }
   .job-category {
      &::before {
         content: " - ";
      }
   }
   > .badge {
      position: absolute;
      top: 0;
      right: 0;
   }
}
